@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
	background-color: white
	font-size: 16px;
}


p{
    color: gray;
    font-family: 'Lato';
}

h1 {
	color: black;
	font-family: 'Frank Ruhl Libre';
	font-size: 2em;
    display: inline;
}

h2 {
    color: black;
    font-family:'Frank Ruhl Libre';
    font-size: 1.25em;
    display: inline;
    line-height: 1.5em;

}

h3 {
	color: black;
	font-family: 'Lato';
	font-size: 1em;
    line-height: 1.5em;
}


h4 {
    color: gray;
    font-family: 'Lato';
    font-size: 1em;
    line-height: 1.5em;
}

a{
	font-family: 'Lato', Arial, sans-serif;
	color:black;
	font-size: 1em;
	font-weight: black;
    margin: 10px;
}

a:hover {
    color:blue;
}

.unactive{
    text-decoration:none;
    color:gray;
}


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    float: right;
}

aside {
    float:right;
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

aside{
    float:right;
    width:560px;
    padding:20px 0;
    margin: 0 0 0 30px;
}

.article {
    width:300px;
}

#picture {
    background-color: yellow;
    width:560px;
    padding: 20px 0;
    margin: 0 0 0 30px;
}

#Aboutme {
    background-color: red;
    width: 100px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

